[submodule "digital_edition_db"]
	path = digital_edition_db
	url = git@github.com:slsfi/digital_edition_db.git
[submodule "digital_edition_search"]
	path = digital_edition_search
	url = git@github.com:slsfi/digital_edition_search.git
