[submodule "digital_edition_web"]
	path = digital_edition_web
	url = git@github.com:slsfi/digital_edition_web.git
[submodule "digital_edition_api"]
	path = digital_edition_api
	url = git@github.com:slsfi/digital_edition_api.git
[submodule "digital_edition_db"]
	path = digital_edition_db
	url = git@github.com:slsfi/digital_edition_db.git
[submodule "digital_edition_search"]
	path = digital_edition_search
	url = git@github.com:slsfi/digital_edition_search.git
[submodule "digital_edition_web_template"]
	path = digital_edition_web_template
	url = git@github.com:slsfi/digital_edition_web_template.git
