[submodule "digital_edition_web"]
	path = digital_edition_web
	url = git@github.com:slsfi/digital_edition_web.git
[submodule "digital_edition_db"]
	path = digital_edition_db
	url = git@github.com:slsfi/digital_edition_db.git
[submodule "digital_edition_search"]
	path = digital_edition_search
	url = git@github.com:slsfi/digital_edition_search.git
[submodule "digital_edition_commentary"]
	path = digital_edition_commentary
	url = git@github.com:slsfi/digital_edition_commentary.git
