# The secret key should be unique and secret for each application, as it's used to sign tokens and control API access.
secret_key: '${SECURITY_KEY}'

# This is an SQLAlchemy database URL, into which all user and role information is stored.
# http://docs.sqlalchemy.org/en/latest/core/engines.html
user_database: 'postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}'
